.login-messenger-logo {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.login-app-title {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.username-field {
    margin-bottom: 30px;
}

.login-button {
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.login-button:hover {
    background-color: hsl(215, 100%, 88%) !important;
}

.alert {
    position: absolute !important;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 454px) {
    
    .login-form {
        top: 60%;
    }

    .login-app-title {
        top: 30%;
    }

    .username-field {
        margin-bottom: 40px;
    }

    .login-button {
        width: 118px;
    }
}