.app-title {
    font-size: 23px;
}

.username {
    font-family: dubai light, calibri light;
}

.vertical-space {
    height: 45px;
}

.message-form {
    bottom: 0;
    position: fixed !important;
    width: 72%;
    display: flex;
    text-align: center !important;
    background-color: white;
}

.message-field {
    border-radius: 40px !important;
    background-color: rgb(240, 240, 240) !important;
}

@media screen and (max-width: 798px) {
    
    .message-form {
        width: 89%;
    }
}

@media screen and (max-width: 454px) {
    
    .dark-mode-button {
        margin-bottom: 30px;
    }
    .message-form {
        width: 94%;
    }
}
